.navbar {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #49577e;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49577e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar button:hover {
    background-color: #e7d493;
    color: white;
    border: 1px solid #49577e;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49577e;
}

.navbar-search-icon {
    position: relative
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: red;
    border-radius: 50%;
    top: -5px;
    right: -5px;
}

@media (max-width: 1050px) {
    .logo {
        width: 140px;
    }

    .nav-menu {
        gap: 20px;
        font-size: 17px;
    }

    .navbar-right {
        gap: 30px;
    }

    .navbar-right img {
        width: 22px;
    }

    .navbar-right button {
        font-size: 15px;
        padding: 10px 20px;
    }
}

@media (max-width: 900px) {
    .logo {
        width: 120px;
    }

    .nav-menu {
        gap: 15px;
        font-size: 16px;
    }

    .navbar-right {
        gap: 20px;
    }

    .navbar-right img {
        width: 20px;
    }

    .navbar-right button {
        font-size: 15px;
        padding: 7px 20px;
    }
}

@media (max-width: 750px) {


    .nav-menu {
        display: none;
    }


}